*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
	background-color: white;
	color: #001730;
}

header{
  width: 100%%;
  margin: 40px auto;
  display: flex;
}

input[type="text"]{
  width: 500px;
  margin: auto;
	background-color: inherit;
  font-size: 15px;
  padding: 10px;
  border: 2px solid #001730;
  border-radius: 0.5em;
  color: #001730;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  margin: 40px auto;
}

.word{
  border: 5px solid #001730;
  width: 60%;
  border-radius: 0.5em;
  color: #001730;
}

legend{
  padding: 0 20px;
  margin: 0;
  position: relative;
  top: 43px;
  margin: 0 0 20px 0;
}

.title{
  font-size: 40px;
  font-weight: 650;
  padding: 20px 15px;
  color: #001730;
}

.phonetics{
  position: relative;
  bottom: 4px;
  left: 15px;
  font-size: 15px;
  font-style: oblique;
  font-weight: 700;
  cursor: pointer;
  color: #001730;

}

.speak{
  width: 20px;
  position: relative;
  top: 6px;
  margin: 0 0 0 5px;
}

.partOfSpeech{
  font-size: 25px;
  margin: 0 0 0 50px;
}

.meaning{
  margin: 0 70px;
}

ul[class="definitions"] li, ul[class="synonyms"] li, ul[class="antonyms"] li{
  list-style-type: disc;
  padding: 0 10px;

}

.definitionText, .synonymsText, .antonymsText{
  font-size: 15px;
  text-transform: uppercase;
}


.example{
  font-style: italic;
}

hr{
  border: 0.5px solid #001730;
  width: 92%;
}

footer{
  background-color: #001730;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 100px auto 0 auto;
  width: 110%;
}

footer p{
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  background-color: #001730;
}

a:link, a:visited, a:active{
  color: white;
  font-style: italic;
}
